html{
    /* background-image: url(background.jpg); */
    background-color: darkcyan;

}
h1{
    font-family: Arial, Helvetica, sans-serif;
    color: lightgreen;
    font-family:serif;
}
h2{
    color:lightgreen;
    font-family: Arial, Helvetica, sans-serif
    
}
.PFP{
    padding-top: 5%;
    padding-left: 40%;
}
.intro{
    padding-left: 35%;
    

}
ul{
    color: lightskyblue;
}
ol{
    color: lightskyblue;
}
body{
    font-size: 16px;
}
h1{
    font-size: 3em;
}
P{
    font-size: 2em;
    color:lightskyblue;
}
h1:first-letter{ 
    font-size: 6em;
}
.subhead{
    color: lightgreen;
    font-family: serif;
}
a[href="https://qau.edu.pk/"]:hover
{
    
background-color: darkcyan;
}
a[href="https://cs.qau.edu.pk/"]:hover{
    background-color:darkcyan;
    
}
a[href="https://en.wikipedia.org/wiki/Islamabad#History"]:hover{
    background-color: darkcyan;
    
}

hr{
    height: 12px;
    background-color:darkcyan;
}
footer{
    color: darkgray;
    font-size: 2em;
}
table{
    border: solid 2pt black;
    border-collapse:collapse ;
    border-top: 4px solid darkblue;
    
}
td{
    border: solid 2pt black;
    padding: 10pt;

}
tr{
    border: solid 2pt black;
    padding: 10pt;
}
th{
    border: solid 2pt black;
    padding: 10pt;
}
tbody tr{
    background-color:darkgrey;
}
caption{
    color: lightgreen;
    font-size:2em ;
    text-align: left;
    border-top: 2px solid darkblue;
 
}
thead tr{
    background-color: grey;
}

tbody :hover{
    background-color: aquamarine;
}
.form:hover{
    color: lightgreen;
}
.form{
    size: 2em;
}