html{
    background-color: aquamarine;
}
/* label{
    padding-left: 10%;
    padding-right: 5%;
} */    
form{
    border: 1pt solid grey;
    
}
/* .form{
    padding-left: 10%;
     padding-right: 50%; 
} */
.heading{
    padding-left:40%;
    color: darkgreen;
    
}
